body,html{
    background: rgb(172, 166, 154);
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /*  width: 100vw;    height: 100vh;*/
}
.container{
    display: grid;
    grid-template-areas: "n n" "h h" "obj for" "m m" "f f";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.header{
    grid-area: h;
}
.nome{
    grid-area: n;
}
.obj{
    grid-area: obj;
}
.main{
    grid-area: m;
}
.formacao{
    grid-area: for;
}
.footer{
    grid-area: f;
    margin-top: -25px;
}
p{
    margin-left: 10px;
    transition: 0.5s;
}
p:hover{
    background: grey;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 15);
    transition: 0.5s;
}
h1{background: black;
    color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}
h2{
    background: grey;
    color: black;
    padding: 15px;
    border-radius: 20px;
    text-align: left;
}
a{
   color: rgb(68, 67, 67);
}
ul{
    background: dimgray;
    color: black;
    padding: 15px;
    border-radius: 20px;
    text-align: left;
    margin-top: 2px;
    transition: 0.5s;
    list-style: none;    
}
ul:hover{
    background: grey;
    padding: 25px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 15);
}
.footer li:hover{
    background: grey;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 15);
    transition: 0.5s;
}

@media screen and (max-width:820px){
    .container{
        grid-template-areas: "n" "for" "m" "f";
        grid-template-columns: 2fr;
    }
    .header{
        display: none;
    }
    .obj{
        display: none;
    }
}
@media screen and (max-width:480px){
    .obj{
        display: none;
    }
    .header{
        display: none;
    }
    .formacao{
        display: none;
    }  
    .container{
        grid-template-areas: "n" "m" "f";

    }
}
